.sidenav {
    width: 250px;
    transition: width 0s;
    height: auto;
    background: #ffffff;
    margin-top: 0px;
    position: relative;
}


.navLink {
    /* Base styles for NavLink */
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.navLink:hover {
    transform: scale(1.1); /* Slight scale on hover */
    box-shadow: 0 0 10px rgba(33, 172, 131, 0.8);
  }

 
  


/* .arrow{
   position: absolute;
   top: 400px;
   left: 200px;
 } */
.sidenavClosed {
    composes: sidenav;
    transition: width 0s; 
    width: 65px;

}

.sideitem {
    /* vertical-align: baseline; */
    justify-content: center;
    align-items: center;
    padding: 6px 20px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}
.sideitem:hover {
    /* background-color: #FC9414;  */
    background: #D07FEE;
    font-weight: bolder;
  }

.selected {
    background: #D07FEE;
    font-weight: bolder;
  }
  

.nested {
    /* position: absolute; */
    display: block;
    background: blue;
    color: #ababab;
    right: 100px;
    top: 34px;
    list-style-type: none;

}

.nestedItem {

    background:  rgb(103, 103, 155);
    color: #ababab;
    display: block;
    border-radius: 4px;
    margin: 1px;
}

.nestedItem2 {

    background: rgb(103, 103, 155);
    color: #ababab;
    display: block;
    border-radius: 4px;
    margin: 1px;
}

.linkText {
    padding-left: 16px;
}

.linkTextClosed {
    composes: linkText;
    visibility: hidden;
    display: none;
}

/* .sideitem:hover {
    background-color: #244f7d1c;

} */

.menuBtn {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: #000408;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}


.dropdown {
}
.ndropdown {
    border-left: 4px outset #dfe6ff;
    margin-top: 5px;
    padding: 2px;
    text-decoration: none;
    margin-left: 39px;
}
/* 
.dropdownItem:link {
    color: #0e30bb;
}

.dropdownItem:visited {
    color: rgb(218, 9, 9);
}


.dropdownItem:focus {
    color: rgb(7, 224, 61);
}

.dropdownItem:hover {
    color: #0e1015;
    border-radius: 3px;
    background: #dfe6ff;
} */

/* .dropdownItem:active {
    color: rgb(6, 141, 31);
} */


/* .dropdownItem {
    list-style-type: none;
    margin: 1px;
    color: #ababab;
    width: 76px; 
    padding: 2px;
} */

.dropdownItem2:hover {
 
    background: #D07FEE;
    color: #000000;
    font-weight: bolder;
}

.rightSideIcons span {
    color: #2645c3;    
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.rightSideIcons span:hover {
    color: rgb(255, 0, 0);

}


.fadeIcon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transform: rotate(0deg);
  }
  
  .open {
    opacity: 1;
    transform: rotate(360deg);
  }
  
  .closed {
    opacity: 1;
    transform: rotate(0deg);
  }
  
  
  .dropdownContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .dropdownOpen {
    max-height: 300px; 
  }
  